<div class="container mt-5">
  <h3>Payment Form</h3><br>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee name </label>
      <input class="form-control" (input)="onChangeName($any($event.target).value)">
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div >
        {{ name | titlecase}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label>
      <input type="date" class="form-control" (input)="onChangeDate($any($event.target).value)">
    </div>
    <div class="col">
      <label><b>Date</b></label>
      <div >
        {{ date | date:'MMMM d, y' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Amount</label>
      <input  class="form-control" (input)="onChangeAmount($any($event.target).value)">
    </div>
    <div class="col">
      <label><b>Amount</b></label>
      <div >
        {{ amount | currency:'INR':'symbol' :'1.0-0' }}      </div>
    </div>
  </div>
</div>
